body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    color: black;
    padding: 25px 30px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase; 
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0 0 0;
    border: none;
    background-color: #080808;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn-dark {
    background-color: black;
    color: white;
}

.register-text {
    margin: 15px 0 5px;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: black;
}
